<header>
	<!-- title wrapper -->
	<div class="title-wrapper">
		<a href="/">
            {{ if (and (eq .IsPage true) (or (eq .Section "posts") (eq .Section "logs"))) }}
			 <font color="#666">  {{ .Site.Title }} </font>
            {{ else }}
			<font color="#666">   {{ .Site.Title }} </font>
            {{ end }}
		</a>

		{{ with .Site.Menus.main }}
		<nav>
			<ul>
				{{ range . }}
				<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
		{{ end }}
	</div>
	<!-- title wrapper end -->

</header>
