* {
    box-sizing: border-box;
    font-size: large;
    margin-top:0;
    margin-bottom:0;
}
body {
    margin: 0;
    font-family: "happy";
}

header{
    margin-bottom: 2rem;
    }

code {
    font-family: "happy";
    padding: 7px;
}

tags {
    font-family: "happy";
}

h1, h2, h3, h4 {
    font-family: "happy";
    line-height: 3rem;    
}

h1:before {
    content: "[";
}

h1:after {
    content: " ~]$_";
}

h1 {
    border-bottom: solid 1.5px;
    margin-bottom: 2rem;
}

article h1 {
    font-weight: 600;
    // text-align: center;
    font-size: 30px;
    font-family: "happy";
    letter-spacing: 3px;
    padding: 8px;
    line-height: 3rem;
}

article h2:before {
    content: "# ";
    color: #h2-color;
}
article h2 {
    font-weight: 650;
    font-style: bold;
    // background-color: #12121275;
    padding: 6px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 3rem;
}



article h3:before{
    content: "# ";
}
article h3 {
    font-weight: 550;
    font-style: bold;
    // background-color: #1d223540;
    padding: 4px;
    font-size: 21px;
    line-height: 3rem;
    padding-left: 1rem;
}

// article h4:before{
//     content: "# ";
// }
article h4 {
    font-weight: 550;
    font-style: bold;
    padding: 4px;
    font-size: 20px;
    line-height: 3rem;
    padding-left: 2rem;

}


.slim-description {
    font-family: "happy";
    font-size: 1.4rem;
}

code[class*="language-"]{
    font-family: "happy";
    font-style: normal;
    font-weight: 400;
    border-radius: 20px;
}


.blog-list{
    font-family: "happy";
    font-size: 1.2rem;
}

nav{
    font-family: "happy";
    font-size: 2rem;
    
}
element{
    margin-bottom: 5px;
    margin-top: 5px;
}
html{
    font-size: large;
    }
