// Variables
$global-font-size: 16px;
$global-font-size-mobile: 14px;
$title-font-size: 1.875rem;

$content-title-font-size: 1.275rem;
$layout-max-width: 56rem;
$nav-font-size: 1.025rem;

$primary-color: #333;
$subscript-color: #666;
$background-color: #fefefe;
$blockquote-background-color: #f9f9f9;

$border-color: #e6e6e6;
$link-color: #2f7e9d;
$post-title-color: $primary-color;
$post-link-color: $link-color;
$active-link-color: #2f7e9d;

$toc-border: #2f7e9d;
$toc-background: #fefdf6;

$code-background: $blockquote-background-color;
$code-color: darkyellow;

$horizontal-layout-padding: 1.3125rem;
$vertical-layout-padding: 2.625rem;
